
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.swiper{
  position: static;
}
.container{
  position: relative ;
  width: 100%;
  height: 100%;

}

.btn-left,
.btn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Ensure the buttons are vertically centered */
  border: none;
  color: black;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  z-index: 10; /* Ensure buttons are on top */
  outline:none;
}

@media screen and (max-width:400px){
  .btn-left,.btn-right{
    display: none !important;
  }
}

.btn-left {
  left: 10px; /* Position to the left */
}

.btn-right {
  right: 10px; /* Position to the right */
}

img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.slide-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
}
.name{
  font-weight: 600;
  font-size: 24px;
  color:magenta
}
.review{
  font-size: 14px;
  color:purple
}

.slide-container:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.swiper-pagination {
  position: absolute !important;
  bottom: -20px !important;  /* Adjust this value to control vertical position */
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1000 !important;  /* Ensures it's above the content */
}
/* Increase the size of the pagination bullets */
/* Default pagination bullets (circular) */
.swiper-pagination-bullet {
  width: 10px;  /* Initial circle width */
  height: 10px;  /* Initial circle height */
  background-color: grey;  /* Default color */
  border-radius: 50%;  /* Makes it circular */
  transition: all 0.3s ease;  /* Smooth transition for size and color */
}

/* Active bullet (changes to rectangular) */
.swiper-pagination-bullet-active {
  background-color: magenta;  /* Active color: blue */
  width: 18px;  /* Increased width for the active bullet */
  height: 10px;  /* Rectangular height */
  border-radius: 20px;  /* Rounded corners for the rectangular shape */
}

@media screen and (min-width:768px){
  .swiper-pagination-bullet{
    display: none;
  }
}
